.statistics {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  border: 2px solid black;
}

.title {
  text-align: center;
  margin-bottom: 5px;
}
.list {
  display: flex;
}

.item {
  flex-direction: column;
  justify-content: center;
  height: 45px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid black;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.percentage {
  color: white;
}
